.nav{
    display: flex;
    padding: 16px 0;
    .btn-link{
        color: black;
        background: transparent;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 16px;
        border-radius: 6px;
        &:hover{
            background: transparent;
            color: black;
        }
    }
    :first-child{
        .yc-button__icon_side_left {
            left: -12px;
        }
        .yc-button__text{
            padding-left: 20px;
        }
    }
}